<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoAdd</title>
    <style>
        #add_button:hover {
            background: #793f1a;
        }
        #add_button {
            display: block;
            height: 40px;
            width: 100px;
            padding: 0;
            float: left;
            margin-top: 10px;
            border: none;
            cursor: pointer;
            letter-spacing: 2px;
            font-size: 18px;
            font-family: 微软雅黑;
            background: #b86029;
            color: #fff;
            outline: none;
            -moz-border-radius: 4px 4px 4px 4px;
            -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
        }
        .jiange_debug{
            float: left;
            border-style: dashed;
            border-width: 0px;
            border-color: red;
        }
    </style>
</head>
<body>
<script th:src="@{libs/jquery-1.12.4/jquery.min.js}"></script>
<div  class = 'jiange_debug' style="width: 1420px;">
    <h2 style="text-align: center;" th:text="${user.language ==0?'Info Add':'信息录入'}">info Add</h2>
    <hr width="1200" color="black" >
    <form style="text-align: center;font-size:28px" method="post" th:action = "@{/add_op}" enctype="multipart/form-data">
        <div style="margin-left: 110px; width: 1200px" class="jiange_debug">
            <div style="float: left; padding-top:5px; width: 80px; text-align: left" th:text="${user.language==0?'Title:':'标题:'}" >Title</div>
            <div style="float: left">
                <!--        <input type="text" name = "search_title" placeholder="字符串长度为6-20，包含数字和字母"  style="width: 700px;height: 28px">-->
                <input type="text" name = "search_title"  style="width: 1100px;height: 28px">
            </div>
        </div>

        <br>
        <div style="margin-left: 110px; width: 1200px" class="jiange_debug">
            <div style="float: left; padding-top:190px; width: 80px" th:text="${user.language==0?'Detail':'详细'}">Detail</div>
            <div style="float: left">
                <textarea class="tabSupport" name="search_content" style="width: 1100px;height: 450px"></textarea>
            </div>
        </div>
        <br>
        <div style="margin-left: 110px; width: 1200px" class="jiange_debug">
            <div style="float: left; width: 80px; padding-top:5px" th:text="${user.language==0?'Files':'文件'}">Files</div>
            <div style="float: left">
                <input name = "uploadFile" type="file" th:placeholder="${user.language==0?'Select Files':'选择文件'}" id="nm" style="width: 1000px;height: 28px" multiple>
            </div>
        </div>
        <div style="margin-left: 110px; width: 1200px" class="jiange_debug">
            <div style="float: left; width: 80px; padding-top:5px" th:text="${user.language==0?'Type':'类别'}">Type</div>
            <div style="float: left;margin-top:4px;margin-left: 10px">
            <input  type="radio"   name="type" value="0" checked="checked"><label style="font-size: 16px" th:text = "${user.language==0?'normal':'普通'}">普通</label>
            <input type="radio" name="type" value="1"  ><label style="font-size: 16px" th:text = "${user.language==0?'photo':'照片'}">照片</label>
            </div>
        </div>
        <div style="margin-left: 110px; width: 1200px" class="jiange_debug">
            <div style="float: left; width: 80px; padding-top:5px" th:text="${user.language==0?'Public':'公开'}">Public</div>
            <div style="float: left;margin-top:4px;margin-left: 10px">
                <input  type="checkbox"   name="public" value="1"><label style="font-size: 16px" ></label>
            </div>
        </div>


        <div id="btn" align="center" style="margin-left: 80px;clear: both;">
            <input type="hidden" th:value="${id}" name= "id">
            <input type="submit" value = 'Create' th:value="${user.language==0?'Create':'新建'}" id = "add_button" style="width:100px;height:30px; margin-left: 45%">
        </div>
    </form>


</div>
<script type="text/javascript">

    $(function() {
        var enabled = true;
        $("textarea.tabSupport").keydown(function(e) {

            // Escape key toggles tab on/off
            if (e.keyCode==27)
            {
                enabled = !enabled;
                return false;
            }

            // Enter Key?
            if (e.keyCode === 13 && enabled)
            {
                // selection?
                if (this.selectionStart == this.selectionEnd)
                {
                    // find start of the current line
                    var sel = this.selectionStart;
                    var text = $(this).val();
                    while (sel > 0 && text[sel-1] != '\n')
                        sel--;

                    var lineStart = sel;
                    while (text[sel] == ' ' || text[sel]=='\t')
                        sel++;

                    if (sel > lineStart)
                    {
                        // Insert carriage return and indented text
                        document.execCommand('insertText', false, "\n" + text.substr(lineStart, sel-lineStart));

                        // Scroll caret visible
                        this.blur();
                        this.focus();
                        return false;
                    }
                }
            }

            // Tab key?
            if(e.keyCode === 9 && enabled)
            {
                // selection?
                if (this.selectionStart == this.selectionEnd)
                {
                    // These single character operations are undoable
                    if (!e.shiftKey)
                    {
                        document.execCommand('insertText', false, "\t");
                    }
                    else
                    {
                        var text = this.value;
                        if (this.selectionStart > 0 && text[this.selectionStart-1]=='\t')
                        {
                            document.execCommand('delete');
                        }
                    }
                }
                else
                {
                    // Block indent/unindent trashes undo stack.
                    // Select whole lines
                    var selStart = this.selectionStart;
                    var selEnd = this.selectionEnd;
                    var text = $(this).val();
                    while (selStart > 0 && text[selStart-1] != '\n')
                        selStart--;
                    while (selEnd > 0 && text[selEnd-1]!='\n' && selEnd < text.length)
                        selEnd++;

                    // Get selected text
                    var lines = text.substr(selStart, selEnd - selStart).split('\n');

                    // Insert tabs
                    for (var i=0; i<lines.length; i++)
                    {
                        // Don't indent last line if cursor at start of line
                        if (i==lines.length-1 && lines[i].length==0)
                            continue;

                        // Tab or Shift+Tab?
                        if (e.shiftKey)
                        {
                            if (lines[i].startsWith('\t'))
                                lines[i] = lines[i].substr(1);
                            else if (lines[i].startsWith("    "))
                                lines[i] = lines[i].substr(4);
                        }
                        else
                            lines[i] = "\t" + lines[i];
                    }
                    lines = lines.join('\n');

                    // Update the text area
                    this.value = text.substr(0, selStart) + lines + text.substr(selEnd);
                    this.selectionStart = selStart;
                    this.selectionEnd = selStart + lines.length;
                }

                return false;
            }

            enabled = true;
            return true;
        });
    });
</script>
</body>
</html>