<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Upload Encrypted Files</title>
</head>
<body>
<h1>Upload Encrypted Files</h1>
<form method="POST" action="/test" enctype="multipart/form-data">
  <label for="file">Select files:</label>
  <input type="file" id="file" name="files" multiple>
  <br>
  <button type="submit">Upload</button>
</form>
<script>
  async function encryptFile(file, key) {
    const iv = crypto.getRandomValues(new Uint8Array(16));
    // const iv = new Uint8Array([183,227,201,221,64,235,30,19,172,125,208,171,125,145,176,39]);
    const algorithm = { name: 'AES-GCM', iv: iv };
    const encodedKey = await window.crypto.subtle.importKey(
            'raw',
            key,
            { name: 'AES-GCM' },
            false,
            ['encrypt']
    );
    const encryptedData = await window.crypto.subtle.encrypt(
            algorithm,
            encodedKey,
            file
    );
    const combinedData = new Uint8Array(iv.length + encryptedData.byteLength);
    combinedData.set(iv);
    combinedData.set(new Uint8Array(encryptedData), iv.length);
    return combinedData;
  }

  document.querySelector('form').addEventListener('submit', async (event) => {
    event.preventDefault();
    const fileInput = document.querySelector('#file');
    if (!fileInput.files[0]) {
      alert('Please select at least one file to upload.');
      return;
    }
    const formData = new FormData();
    for (const file of fileInput.files) {
      const fileData = await file.arrayBuffer();
      // const key = crypto.getRandomValues(new Uint8Array(16));
      const key = new Uint8Array([59,109,186,188,234,143,170,87,9,125,222,29,81,204,114,253]);
      const encryptedFile = await encryptFile(fileData, key);
      formData.append('files', new Blob([encryptedFile]), `${file.name}.bin`);
    }
    const response = await fetch('/test', {
      method: 'POST',
      body: formData,
      enctype:'multipart/form-data'
    });
    if (response.ok) {
      alert('Files uploaded successfully!');
    } else {
      alert('Error uploading files.');
    }
  });
</script>
</body>
</html>
