<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>68.自定义动态复选框</title>
  <style>
    .jiange_on{
      text-decoration: line-through;
    }
    .jiange_off{
        text-decoration: none;
    }

    .jiange_debug{
      border-style: dashed;
      border-width: 1px;
      border-color: red;
    }

  </style>
</head>
<body>
<div class="list" style="width:400px;border-style: solid;border-color: red;border-width: 1px;">
   <div style="float: left;border-width: 2px;border-color: red;border-style: dashed; margin-left: 33%;font-size: 20px;font-weight: bold"> 待办事项</div>
    <form>
    <div style="float: left; width: 400px;" >
      <div class="jiange_debug" style="float: left">
          <div style="float: left" class="jiange_debug"><input type="checkbox"  value="nihao" onchange="check_line('test')"></div>
      <div style="float: left; width: 372px" class="jiange_debug"><a  style = "word-wrap:break-word" class="jiange_off" id = "testjiange"  href="/" style="pointer-events:none;">nihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihao</a></div>
          <div style="clear: both"></div>
      </div>
    </div>
        <div style="float: left; width: 400px;" >
            <div class="jiange_debug" style="float: left">
                <div style="float: left" class="jiange_debug"><input type="checkbox"  value="nihao" onchange="check_line('test')"></div>
                <div style="float: left; width: 372px" class="jiange_debug"><a  style = "word-wrap:break-word" class="jiange_off" id = "testjiange"  href="/" style="pointer-events:none;">nihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihaonihao</a></div>
                <div style="clear: both"></div>
            </div>
        </div>
<!--    <input type="submit" value="按钮" >-->
    </form>
    <div style="clear: both"></div>
</div>
</body>
<script>
  function check_line( name) {
      var l1 = document.getElementById(name + 'jiange');
      // 存在jiange
      if (l1.getAttribute('class') && l1.getAttribute('class').indexOf('jiange_on') > -1){
         l1.classList.remove("jiange_on");
        l1.classList.add("jiange_off");
        }
        else
        {
            l1.classList.remove("jiange_off");
            l1.classList.add("jiange_on");
        }
  }
</script>
</html>