<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
  <style>
    #update_button2:hover {
      background: #793f1a;
    }
    #update_button2 {
      display: block;
      height: 40px;
      width: 100px;
      padding: 0;
      float: left;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      letter-spacing: 2px;
      font-size: 18px;
      font-family: 微软雅黑;
      background: #b86029;
      color: #fff;
      outline: none;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
    }
    #update_button1:hover {
      background: #243861;
    }
    #update_button1 {
      display: block;
      height: 40px;
      width: 100px;
      padding: 0;
      float: left;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      letter-spacing: 2px;
      font-size: 18px;
      font-family: 微软雅黑;
      background: #4e72be;
      color: #fff;
      outline: none;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
    }
    .jiange_debug{
      float: left;
      border-style: dashed;
      border-width: 0px;
      border-color: red;
    }
    .jiange_add {
      clear: both;
      color: green;
      font-size: 20px;
      text-align: left;
      margin-left: 22px;
    }

    .jiange{
      text-decoration: line-through;
    }
  </style>
  <script th:src="@{libs/jquery-1.12.4/jquery.min.js}"></script>
</head>

<body>
<!--<link href="test.css" rel="stylesheet"type="text/css">-->
<div class="jiange_debug" style="border-width: 0px;border-color:green;width: 100%; display: flex;
      justify-content: center;
      align-items: center;">
<div style="width: 1420px;">
<div  class = 'jiange_debug' style="width: 1420px;">
  <div style="float: left; margin-left: 50px"><h2 style="text-align: center;" th:text = "${user.language==0?'Info Update':'信息修改'}">Info Update</h2>
    <hr width="1300" color="black" >
  </div>
  <div class="jiange_debug" style="float: left;border-color: blue;border-width: 0px;margin-left: 50px;width: 1400px;" >
  <form style="text-align: center;font-size:28px" method="post" th:action = "@{/update_op}" enctype="multipart/form-data">
    <div style="margin-left: 30px; border-color: darkorange; border-width: 0px; width: 1200px" class="jiange_debug" >
      <div style="float: left; padding-top:5px; width: 80px; text-align: left" th:text="${user.language==0?'Title:':'标题:'}" >Title</div>
      <div style="float: left; margin-left: 10px;margin-top: -5px " class="jiange_debug" >
        <input type="text" name = "search_title" th:value="${title}"  style="width: 1100px;height: 30px">
      </div>
      <div style="clear:both"></div>
    </div>

    <div style="margin-left: 30px; border-color: darkorange; border-width: 0px; width: 1200px" class="jiange_debug" >
      <div style="float: left; padding-top:190px; width: 80px" th:text="${user.language==0?'Detail':'详细'}">Detail</div>
      <div style="float: left;margin-left: 10px;">
        <textarea   class="tabSupport" name="search_content" style="resize: none; width: 1100px;height: 400px; line-height: 20px;" th:text="${content}"></textarea>
      </div>
      <div style="clear:both"></div>
    </div>

    <div style="margin-left: 30px; width: 1200px; border-width: 0px" class="jiange_debug">
      <div class="jiange_debug"  style="border-width:0px; float: left; width: 80px; padding-top:5px; " th:text="${user.language==0?'Path':'路径'}" ><a>Path</a></div>
      <div class="jiange_debug"  style="border-width: 0px;border-color: green;width: 1100px;height: 23px">
        <div id = "path" style="font-size: 15px; text-align:left;margin-left: 5px;color: #1f7199" th:text = "${ini_path}" th:name =  "${ini_path}">/</div>
        <input id = "path_input" type="hidden" name = 'path' th:value ="${ini_path}">
      </div>

      <div class="jiange_debug" style="border-width: 0px" id ='default_select'>
        <select style=" margin-top: 0px; float: left" name="0" onchange="update_selection(this)" th:each="a, State : ${init_folders}">
          <option value="CURRENT">CURRENT</option>
          <option th:each="c, State : ${a}" th:value = "${#strings.replace(c,'JIANGEMARK_','')}" th:text = "${#strings.replace(c,'JIANGEMARK_','')}"  th:selected="${#strings.indexOf(c,'JIANGEMARK_')!=-1}?'selected'"></option>
          <option value="*NEW*" >*NEW*</option>
        </select>
      </div>
      <div id = 'select_before'><button type="button" style="height:20px;text-align: left;float: left" onclick="reset_path(this)">RESET</button></div>
<!--      <div style="border-color: blue; border-width: 1px;width: 100px;height: 10px;" class="jiange_debug"></div>-->
    </div>

    <div style="float:left; margin-left: 30px; border-color: darkorange; border-width: 0px; width: 1130px" class="jiange_debug" >
      <div style="float: left; width: 80px; padding-top:5px" th:text="${user.language==0?'Files':'文件'}">Files</div>
      <div style="float: left" class="jiange_debug">

        <div style="text-align: left; clear: both; margin-left: 10px; clear:both;" th:each="c, State : ${file_list}">
                  <input
                  type="checkbox"
                  th:onchange = "check_line(this.getAttribute('id'))"
                  onchange="check_line()"
                  name="del_files"
                  th:value="${c.file}"
                  th:id ="${c.file}" />
          <label style="font-size: 15px;" th:for="${c.file}" th:text ="${c.short_name}" th:id="${c.file}+'jiange'"></label>
          <div style="float: left" th:if="${#strings.endsWith(c.short_name,'.png') || #strings.endsWith(c.short_name,'.jpg') }"><img th:src="@{uploadFile/{filename}(filename=${c.file})}" width=18px /></div>
          <div style="float: left" th:if="${!#strings.endsWith(c.short_name,'.png') && !#strings.endsWith(c.short_name,'.jpg') }"><img th:src="@{/img/file.png}" width=18px /></div>
        </div>

        <div id = "jiange_list" style="clear: both; margin-left: 10px" class="jiange_debug">
        </div>
        <div style="clear:both"></div>
      </div>
    </div>


    <div id="btn" align="center" style="float:left;border-width:0px; margin-left: 30px;clear: both;width: 550px" class="jiange_debug">
      <div style="float: left;margin-left: 100px;">
        <label for="image_uploads" style="border-width: 4px;border-color: #14874c;border-style: solid; border-radius: 6px 6px 6px 6px;font-size: 18px; font-style: normal; " th:text="${user.language==0?'MoreFile':'添加文件'}">MoreFile
        </label>
        <input type="file" id="image_uploads" name="uploadFiles" multiple />
      </div>
      <div style="float: left; margin-left: 0px;">
        <input type="submit" id = "update_button1" value="Confirm" th:value="${user.language==0?'Confirm':'确认提交'}" onclick="return update();">
      </div>
      <div style="clear: both"></div>
      <input type="hidden" th:value="${id}" name= "id">
      <input type="hidden" th:value="${type}" name = "type">
    </div>
  </form>
    <div style="float: left; margin-left: 60px;border-width: 0px;  border-color: #009900;border-style: dashed" class="jiange_debug">
      <form action="/detail" method="get">
        <input type="hidden" name="detail" th:value="${id}">
        <input type="submit" id = "update_button2" value="Cancel" th:value="${user.language==0?'Cancel':'取消修改'}">
      </form>
    </div>

  </div>
  </div>
</div>
</div>
<script type="text/javascript">
  const original_select = document.getElementById('default_select').cloneNode(true);
  original_select.setAttribute("id", "test_id");
  const original_path = document.getElementById("path").innerText;

  const input = document.querySelector('#image_uploads');
  input.style.opacity = 0;
  var temp_add_count = 0;

  input.addEventListener('change', updateImageDisplay);

  // confirm
  function update() {
    return confirm('Sure?');
  };

  // show  delete line
  function check_line( name){
    var l1=document.getElementById(name+'jiange');
    if(l1.getAttribute('class') && l1.getAttribute('class').indexOf('jiange') >-1)
      l1.classList.remove("jiange")
    else
      l1.classList.add("jiange")
  }

  function updateImageDisplay() {

    div_1 = document.querySelector('#jiange_list');

    old_add_files = document.querySelectorAll('.jiange_add')

    if(old_add_files !== null)
    {
      for (const son_file of old_add_files){
        div_1.removeChild(son_file)
      }
    }
    const curFiles = input.files;

    if (curFiles.length !== 0) {
      for (const file of curFiles) {
        var element_span = document.createElement("span");
        var element_div = document.createElement("div");
        element_div.className = "jiange_add";
        // element.setAttribute("id", "test");
        element_span.innerHTML = '+ '+file.name +'  (' +returnFileSize(file.size)+')'
        element_div.appendChild(element_span)
        div_1.appendChild(element_div);
        // alert(file.size)
        // alert(file.name)

      }

    }
  }


  function returnFileSize(number) {
    if (number < 1024) {
      return `${number} bytes`;
    } else if (number >= 1024 && number < 1048576) {
      return `${(number / 1024).toFixed(1)} KB`;
    } else if (number >= 1048576) {
      return `${(number / 1048576).toFixed(1)} MB`;
    }
  }


  $(function() {
    var enabled = true;
    $("textarea.tabSupport").keydown(function(e) {

      // Escape key toggles tab on/off
      if (e.keyCode==27)
      {
        enabled = !enabled;
        return false;
      }

      // Enter Key?
      if (e.keyCode === 13 && enabled)
      {
        // selection?
        if (this.selectionStart == this.selectionEnd)
        {
          // find start of the current line
          var sel = this.selectionStart;
          var text = $(this).val();
          while (sel > 0 && text[sel-1] != '\n')
            sel--;

          var lineStart = sel;
          while (text[sel] == ' ' || text[sel]=='\t')
            sel++;

          if (sel > lineStart)
          {
            // Insert carriage return and indented text
            document.execCommand('insertText', false, "\n" + text.substr(lineStart, sel-lineStart));

            // Scroll caret visible
            this.blur();
            this.focus();
            return false;
          }
        }
      }

      // Tab key?
      if(e.keyCode === 9 && enabled)
      {
        // selection?
        if (this.selectionStart == this.selectionEnd)
        {
          // These single character operations are undoable
          if (!e.shiftKey)
          {
            document.execCommand('insertText', false, "\t");
          }
          else
          {
            var text = this.value;
            if (this.selectionStart > 0 && text[this.selectionStart-1]=='\t')
            {
              document.execCommand('delete');
            }
          }
        }
        else
        {
          // Block indent/unindent trashes undo stack.
          // Select whole lines
          var selStart = this.selectionStart;
          var selEnd = this.selectionEnd;
          var text = $(this).val();
          while (selStart > 0 && text[selStart-1] != '\n')
            selStart--;
          while (selEnd > 0 && text[selEnd-1]!='\n' && selEnd < text.length)
            selEnd++;

          // Get selected text
          var lines = text.substr(selStart, selEnd - selStart).split('\n');

          // Insert tabs
          for (var i=0; i<lines.length; i++)
          {
            // Don't indent last line if cursor at start of line
            if (i==lines.length-1 && lines[i].length==0)
              continue;

            // Tab or Shift+Tab?
            if (e.shiftKey)
            {
              if (lines[i].startsWith('\t'))
                lines[i] = lines[i].substr(1);
              else if (lines[i].startsWith("    "))
                lines[i] = lines[i].substr(4);
            }
            else
              lines[i] = "\t" + lines[i];
          }
          lines = lines.join('\n');

          // Update the text area
          this.value = text.substr(0, selStart) + lines + text.substr(selEnd);
          this.selectionStart = selStart;
          this.selectionEnd = selStart + lines.length;
        }
        return false;
      }

      enabled = true;
      return true;
    });
  });


  // path
  function current_rollbakc(obj)
  {
    var select_list = obj.parentNode.getElementsByTagName('select');
    var delete_index= select_list.length-1;
    for(; delete_index >=0; delete_index--)
    {
      if(obj===select_list[delete_index])
        break;
      select_list[delete_index].remove();
    }
  }

  function  update_current_path(obj)
  {
    // get current path
    var select_path = ""
    var select_list = obj.parentNode.getElementsByTagName('select');
    var index_current = 0;
    for( ; index_current <select_list.length;index_current++)
    {
      var select_index = select_list[index_current].selectedIndex;
      var current_value = select_list[index_current].options[select_index].value;
      if(current_value !== "CURRENT")
        select_path =select_path + current_value +'/';
      // if(select_list[index_current] === obj)
      //     break;
    }

    var path_elem = document.getElementById("path");
    var path_elem_input = document.getElementById("path_input");
    path_elem_input.setAttribute("value","/"+select_path);
    path_elem.innerText="/"+select_path
  }



  function update_selection(obj)
  {
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
      //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
      xmlhttp=new XMLHttpRequest();
    }
    else
    {
      // IE6, IE5 浏览器执行代码
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    // handle response code
    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        var response_str_arr = xmlhttp.responseText.split(";");

        var new_selection = obj.cloneNode(false);
        // <option value="CURRENT">CURRENT</option>
        var new_dir_elem_select = document.createElement('option')
        new_dir_elem_select.value = "CURRENT";
        new_dir_elem_select.innerText="CURRENT";

        new_selection.appendChild(new_dir_elem_select);

        for(var temp_index = 0; temp_index<response_str_arr.length; temp_index++)
        {
          var temp_value = response_str_arr[temp_index].trim();
          if(temp_value!=="")
          {
            var new_dir_elem_select = document.createElement('option')
            new_dir_elem_select.value = temp_value;
            new_dir_elem_select.innerText=temp_value;
            new_selection.appendChild(new_dir_elem_select);
          }
        }

        var new_dir_elem_new = document.createElement('option')
        new_dir_elem_new.value = "*NEW*";
        new_dir_elem_new.innerText= "*NEW*";
        new_selection.appendChild(new_dir_elem_new);

        new_selection.selectedIndex = 0;
        obj.parentNode.appendChild(new_selection);

        update_current_path(obj);
      }
    }

    var index =obj.selectedIndex
    var select_value = obj.options[index].value

    switch (select_value){
            // if create new directory
      case '*NEW*':
      {
        var ret = prompt('Please Key in Dir Name', "");
        if(ret===null || ret ==="")
        {
          //current_rollbakc(obj);
          obj.selectedIndex = obj.getAttribute("name")*1;
          break;
        }

        var temp_len = 0;
        //check if the dir name is already exist
        for(; temp_len< obj.options.length; temp_len++)
        {
          if(ret === obj.options[temp_len].value)
          {
            alert("error "+ ret +"is already in the directory!!")
            //current_rollbakc(obj);
            obj.selectedIndex = obj.getAttribute("name")*1;
            break;
          }
        }
        // check the dir name is valid
        if(ret.indexOf("/") !== -1)
        {
          alert("error "+ ret +"contains invalid / !!")
          //current_rollbakc(obj);
          obj.selectedIndex = obj.getAttribute("name")*1;
          break;
        }
        current_rollbakc(obj);

        // add the new dir
        var new_dir_elem = document.createElement('option')
        new_dir_elem.value = ret;
        new_dir_elem.innerText=ret;
        obj.insertBefore(new_dir_elem,obj.options[index])
        obj.selectedIndex  = obj.selectedIndex-1;

        //add new selection
        var new_selection = obj.cloneNode(false);
        // <option value="CURRENT">CURRENT</option>
        var new_dir_elem_select = document.createElement('option')
        new_dir_elem_select.value = "CURRENT";
        new_dir_elem_select.innerText="CURRENT";
        var new_dir_elem_new = document.createElement('option')
        new_dir_elem_new.value = "*NEW*";
        new_dir_elem_new.innerText= "*NEW*";

        new_selection.appendChild(new_dir_elem_select);
        new_selection.appendChild(new_dir_elem_new);
        new_selection.selectedIndex = 0;
        obj.parentNode.appendChild(new_selection);
        break;
      }
      case "CURRENT":
      {
        current_rollbakc(obj);
        break;
      }
      default:
      {
        // delete right element first
        var select_list = obj.parentNode.getElementsByTagName('select');
        var delete_index= select_list.length-1;
        for(; delete_index >=0; delete_index--)
        {
          if(obj===select_list[delete_index])
            break;
          select_list[delete_index].remove();
        }
        var select_path = "/"
        var select_list = obj.parentNode.getElementsByTagName('select');
        var index_current = 0;
        for( ; index_current <select_list.length;index_current++)
        {
          var select_index = select_list[index_current].selectedIndex;
          var current_value = select_list[index_current].options[select_index].value;
          if(current_value !== "CURRENT")
            select_path =select_path + current_value +'/'
          if(select_list[index_current] === obj)
            break;
        }
        xmlhttp.open("GET","/ajax_folder_by_path?path="+select_path,true);
        xmlhttp.send();
      }
    }
    update_current_path(obj);
    obj.setAttribute("name", obj.selectedIndex.toString());
  }

  function reset_path(obj)
  {
    var current_select = document.getElementById('default_select');
    current_select.remove();
    var help_node = document.getElementById('select_before');
    var clone_original = original_select.cloneNode(true);
    clone_original.setAttribute("id",'default_select');
    help_node.parentNode.insertBefore(clone_original,help_node);

    var path_elem = document.getElementById("path");
    var path_elem_input = document.getElementById("path_input");
    path_elem_input.setAttribute("value",original_path);
    path_elem.innerText=original_path;
  }
</script>
</body>
</html>